@charset "UTF-8";

html, body{
	
    position:fixed;
    
    width:100%;
    height:100%;
    
    left:0;
    top:0;
    
	/*background:url("images/body.jpg");*/
    background:url("images/body.jpg");
	background-repeat:repeat;

	color:#fff;
	letter-spacing:1px;
	font-family:Georgia, "Times New Roman", Times, serif;
    
    
    background-color:#202020 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#171717)) !important;
    background-image: -webkit-linear-gradient(top, #202020, #171717) !important;
    background-image:    -moz-linear-gradient(top, #202020, #171717) !important;
    background-image:     -ms-linear-gradient(top, #202020, #171717) !important;
    background-image:      -o-linear-gradient(top, #202020, #171717) !important;
    background-image:         linear-gradient(top, #202020, #171717) !important;

}

.ui-widget {
    font-size:80% ;
}

.group { zoom: 1 }

.invisible {
        display:none !important;
}

.ui-autocomplete {
    
    overflow-y: scroll !important; 
        
}
    

.overflow-visible {
        
    overflow: visible !important;
}
    
.no-mouse-events {
        
    pointer-events: none !important;
}


.ui-dialog .ui-dialog-titlebar {
    
    cursor:pointer; cursor:hand
    
}
        
.ui-dialog .ui-state-error { 
    padding: .3em; 
}

.validateTips { 
    border: 1px solid transparent; 
    padding: 0.3em; 
}
    
.ui-dialog-titlebar-close {
        display: none;
    }
    
.ui-widget-overlay {
    display: none;
}
    
.ui-menu {
    /*width: 70% !important;*/
        
}
 
.menuclass {
    width:92.5% !important;
}


.ui-button {

        
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none !important;
    
    
}

#container_all {

    position:fixed;
    
    width:100%;
    height:100%;
    
    left:0;
    top:0;
    
}


#container_headers{

    position:fixed;
    
    width:100%;
    height:0%;
    
    left:0;
    top:0;
 
}



#container_body{

    position:fixed;
    
    width:100%;
    height:100%;
    
    left:0;
    top:0;
    

}


.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #51b072 url("images/ui-bg_highlight-hard_20_51b072_1x100.png") 50% 50% repeat-x;
	color: #030303;
}

.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #e9a355 url("images/ui-bg_highlight-hard_20_e9a355_1x100.png") 50% 50% repeat-x;
	
}



